.nav1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: #faf6f6;
    padding: 0 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 888;
  }
  
  .nav1 a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav1 a:hover {
    background-color: #ddd;
  }